<div>
    
    <div style =  "text-align: center">
        <div style="width: 50%; display: inline-block;">
            <img [src]="candidato.foto" alt="{{ candidato.nombre }}" class="imagen-circular">
        </div>
        <h3>{{candidato.nombre}}</h3>
        
        <div style="width: 50%; display: inline-block;">
            <p><strong>Pais de Origen: </strong> {{candidato.pais_origen}} </p>
            <p><strong>Vertiente Religiosa: </strong> {{candidato.vertiente_religiosa}} </p>
            <p><strong>Edad: </strong> {{candidato.edad}} </p>
        </div>
    </div>
</div>